* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#header {
	background: url('../images/hero.jpg');
	    background-size: cover;
	    background-position: center center;
	    height: 550px;
	    margin-bottom: 29px;
}

#main {

	/*background: rgba(0, 0, 0, 0.08);*/
}

#work {

	background: rgba(0, 0, 0, 0.08);
	margin-top: 2rem;
	padding: 90px;
}

.workp {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.pdesign {
  text-align: center;
  font-weight: bolder;
  font-size: 25px;
  margin-top: 3rem;
}

#border {
  border-bottom: 10px solid rgb(255, 206, 0);
  width: 12%;
  margin: 0 auto;
}

#leader {
	background: rgba(0, 0, 0, 0.08);
	padding-top: 1.8rem;
	padding-bottom: 0.8rem;
}

.sure {
	font-weight: 700;
}

.thumb {
	background-color: orange;
	padding: 10px;
	text-align: center;
	color: white;
	margin-bottom: 1rem;
	margin-top: 1rem;
}

.baner {
	background-size: cover;
	width: 100%;
	margin-left: 0;
	    background-position: center center;
	    height: 250px;
	    /*margin-bottom: 29px;*/
}

.nav-pills {
	margin-right: 200px;
	margin-top: 1rem;
}

.pill-active {
	background-color: rgb(255, 206, 0);
	font-weight: 600;
}

.active {

  color: yellow !important;
}

.search {
	margin: 0;
}

nav {
	padding: 2% 8%;
	justify-content: space-between;
	display: flex;
}

nav ul {
	list-style-type: none;
}

nav ul li{
	display: inline-block;
	margin-left: 2.5rem;
}

 .thought {
        font-size: 40px;
        color: rgb(255, 206, 0);
        font-weight: bolder;
      }

input[type=search]{
	background-color: transparent;
	color: black;
	font-weight: 500;
}

#imagesection4 {
	background: url('../images/full.PNG');
	background-size: cover;
	background-position: center center;
	height: 550px;
	margin-bottom: 29px;
}
